.today-number{
    margin-top: 60px;
}
.btn-sold{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.counter{
    margin-top: 60px;
}
.num{
    width: 50%;
    padding: .6em;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
}
button{
    outline: none;
    background: transparent;
    border: 0;
    cursor: pointer;
}